<h1>All Companies</h1>

<%= link_to 'Create New Company', new_company_path %>

<table>
  <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
      <th>Created_at</th>
      <th>Updated_at</th>
    </tr>
    <tbody>
      <% @company.each do |company| %>
        <tr>
          <td><%=link_to company.name, company_path(@company)%></td>
          <td><%=company.description %></td>
          <td><%=company.price %></td>
          <td><%=company.created_at %></td>
          <td><%=company.updated_at %></td>
       </tr>
          <% end %>
    </tbody>
</table>
